<?xml version='1.0' encoding='utf-8'?>
<widget id="com.familytree.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Family Tree Manager</name>
    <description>A comprehensive family tree management application</description>
    <author email="support@familytree.com" href="https://familytree.com">
        Family Tree Team
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        
        <!-- Allow cleartext traffic for HTTP -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="StatusBarBackgroundColor" value="#1F4E78" />
</widget>
    
    <!-- Assignment Required Plugins -->
    <plugin name="cordova-plugin-camera" spec="^7.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />
